.table-container
    // background: tomato
    // display: flex
    // height: 100vh
    // padding-top: 1rem
    // display: grid
    // grid-template-rows: 1fr
    // grid-template-columns: 100%

.mat-column-select
    overflow: initial

.dashboard-card-content 
  height: 100%
  background-color: red


.dashboard-card 
  display: flex
  flex-direction: column
  position: absolute
  top: 15px
  left: 15px
  right: 15px
  bottom: 15px

// .mat-footer-row,
// .mat-header-row,
// .mat-row 
//     display: inline-flex
//     min-width: 100%

// .table
//  width: 100
.mat-column-position 
  flex: 0 0 100px

.table
    width:100%
    padding: 1em

// .mat-header-row 
//   background-color: #3F51B5
//   color: white
//   font-weight: bold


// .mat-header-cell 
//   color: white
//   font-weight: bold
//   border-right: solid 0.5px white

// .mat-row:nth-child(odd) 
//   background-color: white


// .mat-row:nth-child(even) 
//   background-color: #D3D3D3

// .mat-cell
//   border-right: solid 0.5px black

.center-align.th 
  display: flex !important
  justify-content: center !important
  padding-left: 18px !important

.center-align.td 
  display: flex !important
  justify-content: center !important

.left-align.th 
  padding-right: 18px !important
