<div fxLayout fxLayoutAlign="center center" class="table-container">
    <mat-card fxFlex="70%">
        <mat-card-header fxLayout>

            <div fxFlex="90">
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </div>

            <div>
                <button style="font-size: 18px" mat-raised-button fxHide.lt-xs color="accent" (click)="onExportAsExcelFile()">
               <mat-icon class="mr">
                  insert_chart
               </mat-icon>
               <span fxHide.lt-sm >
                  Excel
               </span>
            </button>
            </div>
        </mat-card-header>
        <mat-card-content>
            <mat-table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ col }} </th>
                    <td mat-cell *matCellDef="let element"> {{ element[col] }} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </mat-table>
        </mat-card-content>
    </mat-card>
</div>