<div class="container">


    <div class="tree-chart">
        <div echarts [options]="options" [merge]=merge class="radial-tree-chart" (chartInit)="onChartInit($event)" (chartClick)="onNodeClick($event)" chartFinished=(updateChart($event))>
        </div>
    </div>
</div>

<!-- <mat-card-content fxLayout="column" fxLayoutAlign="center end">
    <p fxFlex="75%">
        Bioökonomie (im europäischen Raum teilweise auch als knowledge-based bio-economy) wird von manchen gesehen als die Transformation von einer marktwirtschaftlichen Erdöl-basierten Wirtschaft hin zu einer Marktwirtschaft, in der fossile Ressourcen durch
        verschiedene nachwachsende Rohstoffe ersetzt werden.
    </p>


</mat-card-content>

<mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
</mat-card-actions> -->