.chart-controls
    // background: #D98585
    // height: 300px
    // width: 400px
    padding-left: 5rem
    padding-top: 5rem
    grid-column-start: 1
    grid-column-end: 2

.tree-chart
    display: grid
    grid-template-rows: 100%
    // grid-auto-rows: 1fr
    grid-template-columns: 100%
    height: 100%
    // height: 700px
    // grid-column-start: 2
    // grid-column-end: 3
    // grid-row-start: 1
    // grid-row-end: 4

.sidebar-container
    .mat-card
        background: #D98585
        height: 100%
        padding: 2em
        .mat-card-header
            margin-left: -14px

.container
    display: grid
    grid-template-rows: 1
    grid-template-columns: 20% 80%
    grid-auto-rows: 1fr
    // height: 100vh
    height: 100%
// .cluster-container
